/* styles for html tags */
body {
    margin: 0;
}

h4 {
    color:darkblue;
    font-weight: bold;
}

/* styles for html classes */
.container {
    background: white;
    margin-top: 2em;
    padding: 20px;
 }

.header-text {
    color:darkblue;
    font-weight: bold;
}

.home-img {
    height: auto;
    width: 325px;
}

.plot {
    max-width: 80%;
}

/* Mobile devices
@media (max-width: 480px){ 
    .instructions {
        text-align: center;
    }
 } */

/* Small devices */
@media (max-width: 768px){ 
    .header-text {
        font-size: 30px;
    }

 }

/* Medium devices */
@media (max-width: 1024px){ 

 }

/* Large devices */
@media (min-width: 1025px){ 
    body {
        background-color: lightgrey;
    }

 }

 

